<div *ngIf="weather$ |async as weather; else loading">
    <h1>Weather in {{ city | titlecase }}</h1>
    <table>
        <tr>
            <td>Description:</td>
            <td>{{ weather.description }}</td>
        </tr>
        <tr>
            <td>Temperature:</td>
            <td>{{ weather.temperature }}</td>
        </tr>
        <tr>
            <td>Visibility:</td>
            <td>{{ weather.visibility }}</td>
        </tr>
    </table>
    <button (click)="backHome()">Back</button>
</div>

<ng-template #loading>
    <img src="/assets/loading.gif" alt="retrieving cities..." width="100px">
  </ng-template>